<div class="text-center">
    <h1>Система обмена книгами </h1>
    <h4> Добро пожаловать!</h4>
    <p>
        тут находится список ваших книг с возможностью их удаления
    </p>
    <a asp-controller="Book" asp-action="Create">Добавить книгу</a>
</div>
