<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/openboookstyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header >
                    <ul class="page">
                        <li class="page__main">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a>
                        </li>
                        <li class="page__biblio">
                            <a  asp-area="" asp-controller="Book" asp-action="Index">Библиотека</a>
                        </li>
                        <li class="page__acaunt">
                            <a asp-area="" asp-controller="User" asp-action="Index">Аккаунт</a>
                        </li>
                    </ul>
               
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
