biblio {
    width: 100%;
    height: 1000px;
    background-image: url(https://furman.top/uploads/posts/2023-09/1694113618_furman-top-p-biblioteka-estetika-oboi-3.jpg);
    background-color: rgba(0, 0, 0, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f7f7f7;
}

.addbook {
    color: #100805;
}
.book__presence,
.book__add {
    background-color: #100805; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.biblio {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0px;
    margin: 0;
}

.book {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFf;
    border: 1px solid #ccc;
}

.book__info {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    color: #100805;
}

.book__author {
    font-size: 13px;
    color: #100805;
    align-self: center;
}
