@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Система обмена книгами</h1>
    <h4> Добро пожаловать!</h4>
    <p> Тема итогового проекта система учета библиотек. Что можно сказать про библиотеку.
        На этом веб сайте имеется база данных в которой хранится список книг и пользователи. 
        Отображения всех книг, информация об одной книге.

    </p>
</div>
